 
.list-inline-item{
  vertical-align: middle;
}
.icon {
  display: block;
  width: 48px;
  height: 72px;
}

.icon-mongodb {
  background-color: #868e96;
  -webkit-mask: url(../img/mongodb128.svg) no-repeat center;
  mask: url(../img/mongodb128.svg) no-repeat center;
 
}

.icon-mongodb:hover {
  background-color: #212529;
  -webkit-mask: url(../img/mongodb128.svg) no-repeat center;
  mask: url(../img/mongodb128.svg) no-repeat center;
}
