<!-- <header class="header">
  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img src="${ require('src/assets/images/logo.svg') }" alt="brand">
        <strong class="d-inline">Frontend Starter</strong>
      </a>

      <div>

        <ul class="navbar-nav ml-auto flex-row">
          
     
          <li class="nav-item mx-2 d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="dark-mode-toggle" id="switch-dark-mode">
              <label class="form-check-label" for="switch-dark-mode">
                <i class="fa fa-moon-o"></i>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header> -->
